<footer class="mobile-footer">
    <nav class="nav-container">
      <a routerLink="/lista-pacientes" routerLinkActive="active" class="nav-item">
        <mat-icon class="icon-footer">
          groups
      </mat-icon>
      </a>
      <a routerLink="/odontologo-dashboard" routerLinkActive="active" class="nav-item main">
        <mat-icon class="icon-footer">
          home
      </mat-icon>
      </a>
      <a routerLink="/agenda-citas" routerLinkActive="active" class="nav-item">
        <mat-icon class="icon-footer">
          calendar_month
      </mat-icon>
      </a>
    </nav>
  </footer>
  <!-- supabaseagenda -->
   <!-- supabaseagenda -->