<form [formGroup]="userForm"  (ngSubmit)="onSubmit()" class="form-container" >
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">Email Requerido</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">Password Requerido</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Iniciar sesion</button>
</form>
<div class="spinner-overlay" *ngIf="loading">

    <mat-spinner  ></mat-spinner>
</div>

