@media (max-width: 768px) {
  .contenedor-card-paciente {
    margin-top: 3%;
    width: 100%;
    height: 10dvh;
  }
  .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .content-card {
    width: 90%;
    height: 100%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nombre-card{
 
    width: 60%;
    display: flex;
    justify-content: start;
    text-transform: capitalize;

  }
  .boton-card {
    display: flex;
    justify-content: space-around;
    width: 30%;
    
  }
  .boton{
    color: #007BBA ;
  }
}
